body { font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 11px; 
font-style: normal; font-weight: normal; color: #666666; 

scrollbar-base-color: #9AADBA; 
scrollbar-face-color: #fafafa; 
scrollbar-track-color: #fafafa; 
scrollbar-arrow-color: #9AADBA;
scrollbar-highlight-color: #9AADBA; 
scrollbar-3dlight-color: #fafafa; 
scrollbar-shadow-color: #9AADBA;
scrollbar-darkshadow-color: #fafafa; } 


#wrap{ width:780px; margin:0 auto;}